body {
	color: #EEEEEE;
	font-family: "Lucida Console", Monaco, monospace;
	background-color: black;
}

/* --- sidebar --- */
.sidebar {
	float: left;
	width: 175px;
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	overflow: auto;
	background-color: #090D14;
}

.sidebar a:hover {
	color: #fcba03;
	transition: 0.3s;
}
  
.sidebar a {
	color: #6666FF;
	transition: 0.3s;
	text-decoration: none;
	display: block;
	padding: 16px;
}

.content-wrapper {
	margin-left: auto;
	margin-right: auto;
	padding-right: 200px;
	padding-left: 200px;
}
